{% extends 'base.html' %}
{% block corpo %}
  <h1>Adicionar novo contato</h1>

  <hr>

  <form action="" method="POST" class="was-validated">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="nome">Nome</label><br>
        <input class="form-control" type="text" name="nome" id="nome" required>
      </div>

      <div class="form-group">
        <label for="endereco">Endereço</label><br>
        <input class="form-control" type="text" name="endereco" id="endereco" required>
      </div>

      <div class="form-group">
        <label for="celular">Celular</label><br>
        <input class="form-control" type="number" name="celular" id="celular" required>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label><br>
        <input class="form-control" type="email" name="email" id="email" required>
      </div>

      <div class="form-group">
        <label for="data_nascimento">Data de nascimento</label><br>
        <input class="form-control" type="date" name="data_nascimento" id="data_nascimento" required>
      </div>

      <div class="form-group">
        <label for="sexo">Sexo</label><br>
        <select name="sexo" id="sexo" class="form-control">
          <option disabled selected value> Escolha uma das opções </option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>
      </div>

      <hr>

      <div class="d-flex justify-content-between align-items-center">
        <a href="/lista/" class="btn btn-outline-secondary" role="button">
          <div class="d-flex align-items-center">
            <i class="material-icons">arrow_back</i>Voltar
          </div>
        </a>
        
        <button type="submit" class="btn btn-success">
          <div class="d-flex align-items-center">
            <i class="material-icons">add</i>
            Adicionar
          </div>
        </button>
      </div>
  </form>
{% endblock %}
    